<div class="title form-title">
  <h3>Sign up</h3>
</div>

<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name),
  :html => { :class => 'form-horizontal', :id => 'signup_form' } do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :full_name %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", :class => 'btn-primary' %>
  </div>
<% end %>

<div class="bottom-links">
  <%= render :partial => "devise/shared/links" %>
</div>