<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :full_name, :disabled => true %>
    <%= f.input :email, :disabled => true %>
    <%= f.input :role, :collection => User::ROLES-['admin', 'guest'],
                       :value_method => :to_s,
                       :label_method => :humanize,
                       :input_html => {:class => "input-medium"} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
