<div class="title form-title">
  <h3><%= "Users (#{@user_count})" %></h3>
</div>

<table class="users table table-condensed">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Since</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, user %></td>
      <td><%= user.role %></td>
      <td><%= user.created_at.to_date %></td>

      <td class="edit_button">
        <%= button_to(" ", edit_user_path(user),
          :method => :get,
          :id => "edit_#{user.id}") unless user.is?(:admin) || (cannot? :update, User) %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

<%= page_navigation_links @users %>