<div class="title form-title">
  <h3>Home</h3>
</div>

<%= form_tag home_index_path, :method => :get, :class => 'form-inline' do %>
  <div class="input-append">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :class => 'btn' %>
  </div>
<% end %>

<br>
<h4>Results</h4>
<table class="table table-condensed results">
  <tbody>
  <% @search.results.each do |result| %>
    <tr>
      <td>
        <%= link_to(result.name, result) %>
        <span class="model"><%= result.class %></span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= page_navigation_links @search.results %>