<% if user_signed_in? %>

  <div class="title">
    <h3>Recent Updates</h3>
  </div>

  <% if @deals.empty? %>
    <p>No updates.</p><br>
  <% else %>
    <table class="table">
      <tbody>
      <% @deals.each do |deal| %>
        <tr class="update_row">
          <td>
            <%= link_to deal.headline, deal_path(deal)  %>
            <span class="update_close_date"><%= "(#{deal.close_date.strftime("%b %y")})" %>
            <div class="update_updated"><%= "Updated on #{deal.updated_at.strftime("%d %b %y")}" %></div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

<% else %>

<div class="span12 center-field">
	<h1>The Ultimate Resource for Tech Deals in Brazil</h1>
  	<h3 class="index-subs"><p>It's 100% crowdsourced by the community and we need your help!</h3>
    <div class="wrapper">
    	<p>
				<%= link_to('Sign up now!', new_user_registration_path, :id => 'signup_link', :class => 'btn btn-info btn-large') %>
    	</p> 
		</div>
</div>
<div class="row">
	<div class="span4">
		<div class="well well-index">
			<h3>Statistics</h3>
			<table class="table table-condensed stats">
			  <tbody>
			    <tr class="update_row">
			      <td>
						<h3 class="counter"><%= @company_count %></h3>
			      </td>
						<td>
							<h3><%= link_to 'Companies', companies_path %></h3>
						</td>
			    </tr>
					<tr class="update_row">
			      <td>
						<h3 class="counter"><%= @investor_count %></h3>
			      </td>
						<td>
							<h3><%= link_to 'Investors', investors_path %></h3>
						</td>
			    </tr>
					<tr class="update_row">
			      <td>
						<h3 class="counter"><%= @deal_count %></h3>
			      </td>
						<td>
							<h3><%= link_to 'Deals', deals_path %></h3>
						</td>
			    </tr>
					<tr class="update_row">
			      <td>
						<h3 class="counter"><%= @user_count %></h3>
			      </td>
						<td>
							<h3><a href="#">Collaborators</a></h3>
						</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="span4">
		<div class="well well-index">
			<h3>Recent Updates</h3>

			<% if @deals.empty? %>
			<p>No updates.</p><br>
			<% else %>
			<table class="table">
	  		<tbody>
	  		<% @deals.take(2).each do |deal| %>
	    	<tr class="update_row">
	      	<td>
	        	<%= link_to deal.headline, deal_path(deal)  %>
	        	<span class="update_close_date"><%= "(#{deal.close_date.strftime("%b %y")})" %>
	        		<div class="update_updated"><%= "Updated on #{deal.updated_at.strftime("%d %b %y")}" %></div>
	      	</td>
	    	</tr>
	  		<% end %>
				<tr>
					<td>
						Need more? <%= link_to "Sign up now", new_user_registration_path %> !
					</td>
				</tr>
	  		</tbody>
			</table>
			<% end %>
		</div>
	</div>
	<div class="span4">
		<div class="well well-index">
			<h3>A few reasons to join:</h3>
			<ul class="index-list">
				<li><b>Full access to the latest information</b> about venture capital and M&A deals in the Brazilian internet startups market.</li>
				<li>The most <b>complete database of brazilian tech startups and investors</b></li>
				<li>Become part of a <b>vibrant community</b>, helping us crowdsource our database!</li>
				<li>It's completely <b>FREE</b>!</li>
			</ul>
		</div>
	</div>
</div>	
<div class="clear">
</div>
<% end %>








