<%= form_for(@company) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br />
    <%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, Company::STATUSES %>
  </div>
  <div class="field">
    <%= f.label :market_ids, 'Markets' %><br />
    <%= f.collection_select :market_ids, Market.order(:name), :id, :name, {}, 
      {multiple: true, :class => "chzn-select", "data-placeholder" => "Select one or more markets"} %>
  </div>  
  <div class="field">
    <%= f.label :location_ids, 'Locations' %><br />
    <%= f.collection_select :location_ids, Location.order(:city), :id, :full, {}, 
      {multiple: true, :class => "chzn-select", "data-placeholder" => "Select one or more cities"} %>
  </div>  
    
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>




