<h3>Companies#index</h3>

<% if @companies.empty? %>
  No companies yet.<br>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>

  <% @companies.each do |company| %>
    <tr>
      <td><%= link_to(company.name, company) if can? :show, Company %></td>      
      <td><%= link_to('Edit', edit_company_path(company)) if can? :edit, Company %></td>
      <td><%= link_to('Destroy', company, confirm: 'Are you sure?', method: :delete) if can? :destroy, Company %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<br>
<%= will_paginate @companies %>
<br>

<% if can? :create, Company %>
  <%= link_to 'New Company', new_company_path %>
<% end %>
