<div class="title">
  <h3><%= @company.name %></h3>
</div>

<table class="table table-bordered table-condensed">
  <tbody>
    <tr><td>Description</td><td><%= @company.description %></td></tr>
    <tr><td>Website</td>    <td><%= link_to "#{@company.website}", @company.website %></td></tr>
    <tr><td>Linkedin</td>   <td><%= link_to "#{@company.linkedin}", @company.linkedin %></td></tr>
    <tr><td>Status</td>     <td><%= @company.status %></td></tr>
    <tr><td>Markets</td>    <td><%= @company.market_name %></td></tr>
    <tr><td>Locations</td>  <td><%= @company.location_name %></td></tr>
    <tr><td>Investors</td>
        <td><%= render :partial => 'buyers', :locals => { :buyers => @company.buyers } %> </td>
    </tr>
    <tr><td>Deals</td>      <td><%= render "offers" %></td></tr>
    <tr><td>Investments</td><td><%= render "investments" %></td></tr>
  </tbody>
</table>

<br>
<% if can? :edit, Company %>
  <%= link_to 'Edit', edit_company_path %> |
<% end %>
<%= link_to 'Back', :back %>
