<h3>Companies#show</h3>

<p>Company: <%= @company.name %></p>
<p>Description: <%= @company.description %></p>
<p>Website: <%= @company.website %></p>
<p>Linkedin: <%= @company.linkedin %></p>
<p>Status: <%= @company.status %></p>
<p>Markets: <%= @company.market_name %></p>

<% if can? :edit, Company %> 
  <%= link_to('Edit', edit_company_path(@company)) %> |
<% end %>
<%= link_to 'Back', companies_path %>
