<%= simple_form_for @deal do |f| %>
  <%= f.input :close_date, :label => 'Close date', :required => false %>
  <%= f.association :company, :input_html => {:class => "chzn-select", 
    "data-placeholder" => "Select a company"} %>   
  <%= f.input :category, :collection => Deal::CATEGORIES, :selected => :first %> 
  <%= f.input :round, :collection => Deal::ROUNDS, :selected => :first %>   
  <%= f.association :investors, :input_html => {multiple: true, :class => "chzn-select", 
    "data-placeholder" => "Select one or more investors"} %>
  <%= f.input :currency, :collection => Deal::CURRENCIES, :selected => :first %>       
  <%= f.input :amount, :label => 'Total Amount' %>  
  <%= f.input :pre_valuation, :label => 'Pre-money Valuation' %>
  <%= f.input :source_url, :label => 'Source' %>  
  <br>   
  <%= f.button :submit %>  
<% end %>
<!-- 

<%= form_for(@deal) do |f| %>

  <div class="field">
    <%= f.label :close_date, 'Close date' %><br />
    <%= f.datepicker :close_date %>
  </div>
  <div class="field">
    <%= f.label :company_id, 'Company' %><br />
    <%= f.collection_select :company_id, Company.order(:name), :id, :name, {}, 
      {:class => "chzn-select", "data-placeholder" => "Choose a company"} %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, Deal::CATEGORIES %>
  </div>  
  <div class="field">
    <%= f.label :round %><br />
    <%= f.select :round, Deal::ROUNDS %>
  </div>     
  <div class="field">
    <%= f.label :investor_ids, 'Investors' %><br />
    <%= f.collection_select :investor_ids, Investor.order(:name), :id, :name, {}, 
      {multiple: true, :class => "chzn-select", "data-placeholder" => "Choose one or more investors"} %>
  </div> 
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.select :currency, Deal::CURRENCIES %>
  </div>    
  <div class="field">
    <%= f.label :amount, 'Total Amount' %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :pre_valuation, 'Pre-money Valuation' %><br />
    <%= f.text_field :pre_valuation %>
  </div>
  <div class="field">
    <%= f.label :source_url, 'Source' %><br />
    <%= f.text_field :source_url %>
  </div>      

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>

 -->