<%= simple_form_for @deal, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :close_date, :label => 'Close date',
                           :start_year => 1990,
                           :end_year => Date.today.year,
                           :input_html => { :class => 'span1' } %>
  <%= f.association :company, :collection => Company.all(:order => :name),
                              :autofocus => true,
                              :hint => link_to("+ Create new company", new_company_path),
                              :input_html => {:class => "chzn-select",
                                              :data => { :placeholder => "Select a company" } } %>
  <%= f.input :category, :collection => Deal::CATEGORIES %>

  <%= f.simple_fields_for :offerings do |offerings_form| %>
    <%= offerings_form.input :buyers, :as => :select,
          :collection => @deal.buyers_for_options,
          :label => 'Investors',
          :required => false,
          :selected => @deal.buyers_for_selected,
          :hint => link_to("+ Create new investor", new_investor_path),
          :input_html => {:multiple => true, :class => "chzn-select",
                          :data => { :placeholder => "Select one or more investors" } } %>
  <% end %>
  <%= f.input :round, :collection => Deal::ROUNDS, :input_html => { :class => 'span2' } %>
  <%= f.input :currency, :collection => Deal::CURRENCIES, :input_html => { :class => 'span1' } %>
  <%= f.input :amount, :as => :string, :label => 'Total Amount' %>
  <%= f.input :pre_valuation, :as => :string, :label => 'Pre-money Valuation' %>
  <%= f.input :source_url, :label => 'Source URL' %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
