<%= form_for(@deal) do |f| %>

  <div class="field">
    <%= f.label :deal_date, 'Close date' %><br />
    <%= f.datepicker :deal_date %>
  </div>
  <div class="field">
    <%= f.label :company_id, 'Company' %><br />
    <%= f.collection_select :company_id, Company.order(:name), :id, :name, {}, 
      {:class => "chzn-select", "data-placeholder" => "Choose a company"} %>
  </div>  
  <div class="field">
    <%= f.label :investor_ids, 'Investors' %><br />
    <%= f.collection_select :investor_ids, Investor.order(:name), :id, :name, {}, 
      {multiple: true, :class => "chzn-select", "data-placeholder" => "Choose one or more investors"} %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category, options_for_select(Deal::CATEGORIES) ) %>
  </div>        
  <div class="field">
    <%= f.label :round %><br />
    <%= f.select(:round, options_for_select(Deal::ROUNDS) ) %>
  </div>  
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :pre_valuation, 'Pre-money Valuation' %><br />
    <%= f.text_field :pre_valuation %>
  </div>
  <div class="field">
    <%= f.label :source_url, 'Source' %><br />
    <%= f.text_field :source_url %>
  </div>      

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>

