<h3>Deals#index</h3>

<% if @deals.empty? %>
  No deals yet.<br>
<% else %>
  <table>
    <tr>
      <th>Close Date</th>
      <th>Deal Summary</th>
      <th></th>
      <th></th>
    </tr>

  <% @deals.each do |deal| %>
    <tr>
      <td><%= deal.close_date if can? :show, Deal %></td>
      <td><%= link_to(deal.summary, deal)  %></td>       
      <td><%= link_to('Edit', edit_deal_path(deal)) if can? :edit, Deal %></td>
      <td><%= link_to('Destroy', deal, confirm: 'Are you sure?', method: :delete) if can? :destroy, Deal %></td>
    </tr>
  <% end %>
  </table>
<% end %>

  <br>

<% if can? :create, Deal %>
  <%= link_to 'New deal', new_deal_path %>
<% end %>