<div class="title">
  <h3>Deals</h3>
</div>

<% if @deals.empty? %>
  No deals yet.<br>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Close Date</th>
        <th>Company</th>
        <th>Deal type</th>
        <th>Investors</th>
        <th class="values">Amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= link_to deal.close_date.strftime("%Y-%m"), deal, :id => deal.id %></td>
        <td><%= link_to deal.company_name, company_path(deal.company)  %></td>
        <td><%= deal.category  %></td>
        <td>
          <ul class="unstyled">
            <%= render :partial => 'buyers', :locals => { :deal => deal } %>
          </ul>
        </td>
        <td class="values"><%= deal.full_amount %></td>
        <td><%= link_to edit_deal_path(deal), :id => "edit_#{deal.id}" do  %>
              <i class="icon-pencil"></i>
            <% end if can? :edit, Deal %>
        </td>
        <td><%= link_to(deal, confirm: 'Are you sure?', method: :delete,
                        :id => "destroy_#{deal.id}") do %>
              <i class="icon-remove"></i>
            <% end if can? :destroy, Deal %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= will_paginate @deals, :renderer => BootstrapPagination::Rails %>

<% if can? :create, Deal %>
  <%= button_to 'New Deal', new_deal_path, :method => :get, :class => "btn btn-primary" %>
<% end %>