<div class="title">
  <h3>Deals</h3>
</div>

<% if @deals.empty? %>
  <p>No deals yet.</p><br>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Close Date</th>
        <th>Company</th>
        <th>Deal type</th>
        <th>Investors</th>
        <th class="values">Amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @deals.each do |deal| %>
      <tr class="deal_row">
        <td><%= deal.close_date.strftime("%Y-%m") %></td>
        <td><%= link_to deal.company_name, company_path(deal.company)  %></td>
        <td><%= link_to deal.category, deal, :id => "deal_#{deal.id}" %></td>
        <td><%= render :partial => 'buyers', :locals => { :deal => deal } %></td>
        <td class="values"><%= deal.full_amount %></td>

        <% if can? :edit, Deal %>
        <td class="edit_button">
          <%= button_to(" ", edit_deal_path(deal),
            :method => :get,
            :id => "edit_#{deal.id}") %>
        </td>
        <% end %>

        <% if can? :destroy, Deal %>
        <td class="destroy_button">
          <%= button_to(" ", deal,
            :data => { :confirm => 'Are you sure?' },
            :method => :delete,
            :id => "destroy_#{deal.id}") %>
        </td>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= page_navigation_links @deals %>

<% if can? :create, Deal %>
  <%= button_to 'New Deal', new_deal_path, :method => :get, :class => "btn btn-primary" %>
<% end %>
