<h3>Deals#index</h3>
<br>

<% if @deals.empty? %>
  No deals yet.<br>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Close Date</th>
        <th>Company</th>
        <th>Deal type</th>
        <th>Investors</th>
        <th class="values">Amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= link_to deal.close_date.strftime("%Y-%m"), deal, :id => deal.id %></td>
        <td><%= link_to deal.company_name, company_path(deal.company)  %></td>
        <td><%= deal.category  %></td>
        <td>
          <ul class="unstyled">
            <%= render :partial => 'buyers', :locals => { :deal => deal } %>
          </ul>
        </td>
        <td class="values"><%= deal.full_amount %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) if can? :edit, Deal %></td>
        <td><%= link_to('Destroy', deal, confirm: 'Are you sure?', method: :delete) if can? :destroy, Deal %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= will_paginate @deals, :renderer => BootstrapPagination::Rails %>

<% if can? :create, Deal %>
  <%= button_to 'New deal', new_deal_path, :method => :get, :class => "btn btn-primary" %>
<% end %>