<h3>Deals#show</h3>
<br>

<table class="table table-bordered table-condensed">
  <tbody>
    <tr><td>Close date</td><td><%= @deal.close_date.strftime("%Y-%m") %></td></tr>
    <tr><td>Company</td>   <td><%= link_to @deal.company_name, company_path(@deal.company) %></td></tr>
    <tr><td>Deal type</td> <td><%= @deal.category %></td></tr>
    <tr><td>Investors</td> <td><%= render :partial => 'buyers', :locals => { :deal => @deal } %></td></tr>
    <tr><td>Round</td>     <td><%= @deal.round %></td></tr>
    <tr><td>Amount</td>    <td><%= @deal.full_amount %></td></tr>
    <tr><td>Pre-money valution</td><td><%= @deal.pre_valuation %></td></tr>
    <tr><td>Source</td><td><%= link_to @deal.source_url %></td></tr>
  </tbody>
</table>

<p><%= "#{@deal.verified ? 'Verified!' : 'Not verified yet!'}" %>
<% if @deal.source_url && (can? :manage, Deal) %>
  <% if @deal.verified %>
    <%= link_to 'Mark as unverified?', unverify_deal_path, :method => :put, :id => 'deal_unverify' %>
  <% else %>
    <%= link_to 'Mark as verified?', verify_deal_path, :method => :put, :id => 'deal_verify' %>
  <% end %>
<% end %></p>
<br>

<% if can? :edit, Deal %>
  <%= link_to 'Edit', edit_deal_path(@deal) %> |
<% end %>
<%= link_to 'Back', :back %>
