<h3>Deals#show</h3>

<p>Close date: <%= @deal.close_date %></p>
<p>Company: <%= @deal.company_name %></p>
<p>Deal type: <%= @deal.category %></p>
<p>Investors: <%= @deal.buyers_name %></p>
<p>Round: <%= @deal.round %></p>
<p>Amount: <%= @deal.full_amount %></p>
<p>Pre-money valution: <%= @deal.pre_valuation %></p>
<p>Source: <%= @deal.source_url %>
<p><%= "#{@deal.verified ? 'Verified!' : 'Not verified yet!'}" %>

<% if @deal.source_url && (can? :manage, Deal) %>
  <% if @deal.verified %>
    <%= link_to 'Mark as unverified?', unverify_deal_path, :method => :put, :id => 'deal_unverify' %>
  <% else %>
    <%= link_to 'Mark as verified?', verify_deal_path, :method => :put, :id => 'deal_verify' %>
  <% end %>
<% end %></p>

<% if can? :edit, Deal %> 
  <%= link_to('Edit', edit_deal_path(@deal)) %> |
<% end %>
<%= link_to 'Back', deals_path %>
