<div class="title form-title">
  <h3>Deal</h3>
</div>

<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <td>Close date</td>
      <td><%= @deal.close_date.strftime("%Y-%m") %></td>
    </tr>
    <tr>
      <td>Company</td>
      <td><%= link_to @deal.company_name, company_path(@deal.company) %></td>
    </tr>
    <tr>
      <td>Deal type</td>
      <td><%= @deal.category %></td>
    </tr>
    <tr>
      <td>Investors</td>
      <td><%= render :partial => 'buyers', :locals => { :deal => @deal } %></td>
    </tr>
    <tr>
      <td>Round</td>
      <td><%= @deal.round %></td>
    </tr>
    <tr>
      <td>Amount</td>
      <td><%= @deal.full_amount %></td>
    </tr>
    <tr>
      <td>Pre-money valution</td>
      <td><%= @deal.pre_valuation %></td>
    </tr>
    <tr>
      <td>Source URL</td>
      <td><%= link_to "#{@deal.source_url}", @deal.source_url %></td>
    </tr>
  </tbody>
</table>

<div class="verify">
  <% if @deal.verified %>
    <span class="label label-success"><i class="icon-ok icon-white"></i> Verified</span>
  <% else %>
    <span class="label label-important"><i class="icon-flag icon-white"></i> Unverified</span>
  <% end %>

  <span id="verify_link">
    <% if @deal.source_url && (can? :manage, Deal) %>
      <% if @deal.verified %>
        <%= button_to 'Mark as unverified?', unverify_deal_path, :method => :put, :id => 'deal_unverify' %>
      <% else %>
        <%= button_to 'Mark as verified?', verify_deal_path, :method => :put, :id => 'deal_verify' %>
      <% end %>
    <% end %>
  </span>
</div>
<br>

<% if can? :edit, Deal %>
  <%= link_to 'Edit', edit_deal_path %> |
<% end %>
<% if can? :destroy, Deal %>
  <%= link_to 'Destroy', @company, :data => { :confirm => 'Are you sure?' }, :method => :delete %> |
<% end %>
<%= link_to 'Back', :back %>
