<div class="title form-title">
  <h3>Sign in</h3>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name),
  :html => { :class => 'form-horizontal', :id => 'login_form' }) do |f| %>
  <div class="inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
  </div>
<% end %>

<div class="bottom-links">
  <%= render :partial => "devise/shared/links" %>
</div>