<div class="title">
  <h3>Investors</h3>
</div>

<% if @investors.empty? %>
  <p>No investors yet.</p><br>
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @investors.each do |investor| %>
      <tr>
        <td><%= link_to( investor.name, investor) if can? :show, Investor %></td>
        
        <% if can? :edit, Investor %>
        <td class="edit_button">
          <%= button_to(" ", edit_investor_path(investor), 
            :method => :get,
            :id => "edit_#{investor.id}") %>
        </td>
        <% end %>

        <% if can? :destroy, Investor %>        
        <td class="destroy_button">
          <%= button_to(" ", investor, 
            :data => { :confirm => 'Are you sure?' }, 
            :method => :delete,
            :id => "destroy_#{investor.id}") %>
        </td>
        <% end %> 

      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= page_navigation_links @investors %>

<% if can? :create, Investor %>
  <%= button_to 'New Investor', new_investor_path, :method => :get, :class => "btn btn-primary" %>
<% end %>
