<div class="title">
  <h3><%= @investor.name %></h3>
</div>

<table class="table table-bordered table-condensed">
  <tbody>
    <tr><td>Description</td><td><%= @investor.description %></td></tr>
    <tr><td>Website</td>    <td><%= link_to "#{@investor.website}", @investor.website %></td></tr>
    <tr><td>Linkedin</td>   <td><%= link_to "#{@investor.linkedin}", @investor.linkedin %></td></tr>
    <tr><td>Status</td>     <td><%= @investor.status %></td></tr>
    <tr><td>Category</td>   <td><%= @investor.category %></td></tr>
    <tr><td>Stages</td>     <td><%= @investor.stage.join(', ') unless @investor.stage.nil? %></td></tr>
    <tr><td>Markets</td>    <td><%= @investor.markets_names %></td></tr>
    <tr><td>Locations</td>  <td><%= @investor.locations_names %></td></tr>
    <tr><td>Investments</td><td><%= render "investments" %></td></tr>
  </tbody>
</table>

<br>
<% if can? :edit, Investor %>
  <%= link_to('Edit', edit_investor_path) %> |
<% end %>
<% if can? :destroy, Investor %>
  <%= link_to 'Destroy', @investor, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', :back %>