<h3>Investors#show</h3>

<p>Investor: <%= @investor.name %></p>
<p>Description: <%= @investor.description %></p>
<p>Website: <%= @investor.website %></p>
<p>Linkedin: <%= @investor.linkedin %></p>
<p>Category: <%= @investor.category %></p>
<p>Status: <%= @investor.status %></p>
<p>Stages: <%= @investor.stage.join(', ') unless @investor.stage.nil? %></p>
<p>Markets: <%= @investor.market_name %></p>

<% if can? :edit, Investor %> 
  <%= link_to('Edit', edit_investor_path(@investor)) %> |
<% end %>
<%= link_to 'Back', investors_path %>