<div class="title">
  <h3>Markets</h3>
</div>

<% if @markets.empty? %>
  <p>No markets yet.</p><br>
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= market.name %></td>
        <td class="edit_destroy"><%= link_to edit_market_path(market), :id => "edit_#{market.id}" do  %>
              <i class="icon-pencil"></i>
            <% end if can? :edit, Market %>
        </td>
        <td class="edit_destroy"><%= link_to(market, :data => { :confirm => 'Are you sure?' }, 
                                                     :method => :delete,
                                                     :id => "destroy_#{market.id}") do %>
              <i class="icon-remove"></i>
            <% end if can? :destroy, Market %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= page_navigation_links @markets %>

<% if can? :create, Market %>
  <%= button_to 'New Market', new_market_path, :method => :get, :class => "btn btn-primary" %>
<% end %>
