<div class="title">
  <h3>Markets</h3>
</div>

<% if @markets.empty? %>
  <p>No markets yet.</p><br>
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= market.name %></td>

        <% if can? :edit, Market %>        
        <td class="edit_button">
          <%= button_to(" ", edit_market_path(market), 
            :method => :get,
            :id => "edit_#{market.id}") %>
        </td>
        <% end %>

        <% if can? :destroy, Market %>          
        <td class="destroy_button">
          <%= button_to(" ", market, 
            :data => { :confirm => 'Are you sure?' }, 
            :method => :delete,
            :id => "destroy_#{market.id}") %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </table>
<% end %>

<%= page_navigation_links @markets %>

<% if can? :create, Market %>
  <%= button_to 'New Market', new_market_path, :method => :get, :class => "btn btn-primary" %>
<% end %>
