<%= form_for(@location) do |f| %>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>    
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>