<div class="title">
  <h3>Locations</h3>
</div>

<% if @locations.empty? %>
  <p>No locations yet.</p><br>
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Country</th>
        <th>Region</th>
        <th>City</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.country %></td>
        <td><%= location.region %></td>
        <td><%= location.city %></td>
        <td><%= link_to edit_location_path(location), :id => "edit_#{location.id}" do  %>
              <i class="icon-pencil"></i>
            <% end if can? :edit, Location %>
        </td>
        <td><%= link_to(location, confirm: 'Are you sure?', method: :delete,
                        :id => "destroy_#{location.id}") do %>
              <i class="icon-remove"></i>
            <% end if can? :destroy, Location %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= will_paginate @locations, :renderer => BootstrapPagination::Rails %>

<% if can? :create, Company %>
  <%= button_to 'New Location', new_location_path, :method => :get, :class => "btn btn-primary" %>
<% end %>