<div class="title">
  <h3>Locations</h3>
</div>

<% if can? :create, Company %>
  <%= button_to 'New Location', new_location_path, method: :get, class: "btn btn-primary" %>
<% end %>

<% if @locations.empty? %>
  <p>No locations yet.</p><br>
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Country</th>
        <th>Region</th>
        <th>City</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.country %></td>
        <td><%= location.region %></td>
        <td><%= location.city %></td>

        <% if can? :edit, Location %>
        <td class="edit_button">
          <%= button_to(" ", edit_location_path(location),
            method: :get,
            id: "edit_#{location.id}") %>
        </td>
        <% end %>

        <% if can? :destroy, Location %>
        <td class="destroy_button">
          <%= button_to(" ", location,
            data: { confirm: 'Are you sure?' },
            method: :delete,
            id: "destroy_#{location.id}") %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </table>
<% end %>

<%= page_navigation_links @locations %>
