<h3>Locations#index</h3>

<% if @locations.empty? %>
  No locations yet.<br>
<% else %>
  <table>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>City</th>
      <th></th>
      <th></th>
    </tr>

  <% @locations.each do |location| %>
    <tr>
      <td><%= location.country %></td> 
      <td><%= location.region %></td> 
      <td><%= location.city %></td>             
      <td><%= link_to('Edit', edit_location_path(location)) if can? :edit, Location %></td>
      <td><%= link_to('Destroy', location, confirm: 'Are you sure?', method: :delete) if can? :destroy, Location %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<br>
<%= will_paginate @locations %>
<br>

<%= link_to('New Location', new_location_path) if can? :create, Location %>