<footer class="footer fixed-bottom">
	<div class="footer_links">
	  <%= link_to 'Help', 'https://github.com/lucianot/dealbook#welcome-to-dealbook' %>|
	  <%= link_to 'Github', 'https://github.com/lucianot/dealbook' %>|
	  <%= mail_to 'luciano@tavares.us', 'Contact' %>
	</div>

	<div class="footer_by">
	  <%= "Designed and built by " %>
	  <%= link_to 'Luciano Tavares', 'http://about.me/lucianotavares' %>
	  <%= " and " %>
	  <%= link_to 'Diego Gomes', 'https://twitter.com/dttg' %>
	</div>

	<div class="footer_licenses">
	  Dealbook is an open source project released under the <%= link_to 'MIT license', 'http://opensource.org/licenses/mit-license.php' %>.<br>
	  <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Dealbook's content</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br>
	  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
	  <br>
	</div>

</footer>
<!--div class="share_buttons">
		<a class="facebook" href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https%3A%2F%2Fdealbook.co%2F&t=Brazil%20Startup%20Dealbook','','scrollbars=yes,width=660,height=328'); return false;" title="Share this"></a>
		<a class="twitter" href="#" onclick="window.open('https://twitter.com/intent/tweet?url=https%3A%2F%2Fdealbook.co%2F&text=Brazil%20Startup%20Dealbook','','scrollbars=yes,width=730,height=252'); return false;" title="Tweet this"></a>
		<a class="google" href="#" onclick="window.open('https://plusone.google.com/_/+1/confirm?hl=en&url=https%3A%2F%2Fdealbook.co%2F','','scrollbars=yes,width=530,height=360'); return false;" title="Share this"></a>
	</div>
</div-->