<div class="footer_links">
  <%= link_to 'Help', 'https://github.com/lucianot/dealbook#welcome-to-dealbook' %>|
  <%= link_to 'Github', 'https://github.com/lucianot/dealbook' %>|
  <%= mail_to 'luciano@tavares.us', 'Contact' %>
</div>
<div class="footer_by"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Brazil Dealbook's dataset</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>
<br/>
The dealbook is an open source project released under the <%= link_to 'MIT license', 'http://opensource.org/licenses/mit-license.php' %>.
<br/>
<%= "Designed and built by " %>
<%= link_to 'Luciano Tavares', 'http://about.me/lucianotavares' %>
<%= "- concept by " %>
<%= link_to 'Diego Gomes', 'https://twitter.com/dttg' %>


</div>