<div class="footer_links">
  <%= link_to 'Help', 'https://github.com/lucianot/dealbook#welcome-to-dealbook' %>|
  <%= link_to 'Github', 'https://github.com/lucianot/dealbook' %>|
  <%= mail_to 'luciano@tavares.us', 'Contact' %>
</div>
<div class="footer_by">
  <%= "Designed and built by " %>
  <%= link_to 'Luciano Tavares', 'http://about.me/lucianotavares' %>
  <%= "- concept by " %>
  <%= link_to 'Diego Gomes', 'https://twitter.com/dttg' %>
</div>