<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to image_tag('dealbook_logo.png'), root_path, :class => ' brand pull-left' %>
			
			<%= simple_form_for :search, :url => url_for(:action => 'create', :controller => '/searches'),
        :method => 'post', :html => { :class => 'navbar-search hidden-phone', :id => 'search_submit' } do |f| %>
        <%= f.input_field :keywords, :label => false, :placeholder => 'Search...',
            :class =>  'search-query span3' %>
        <%= f.submit "Search", :class => 'btn' %>
      <% end %>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li class="dropdown" id="menu7">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.full_name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if can? :read, User %>
                <li><%= link_to('Manage users', users_path) %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to('Edit my account', edit_user_registration_path, 
                      :id => 'edit_account') %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => 'delete',
                      :id => 'logout_link') %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path, :id => 'login_link') %></li>
          <li><%= link_to('Join Now', "#joinNow", :data => {:toggle => 'modal'}) %></li>
        <% end %>
      </ul>

    </div>
  </div>
</header>

<nav class="subnav navbar-fixed-top">
	<div class="">
    <div class="container">
  <ul class="nav nav-pills">
      <%= nav_link 'Deals', deals_path, :id => 'deals_button' %>
      <%= nav_link 'Companies', companies_path, :id => 'companies_button' %>
      <%= nav_link 'Investors', investors_path, :id => 'investors_button' %>
      <% if user_signed_in? %>
        <%= nav_link('Markets', markets_path) if can? :manage, Market %>
        <%= nav_link('Locations', locations_path) if can? :manage, Location %>
      <% end %>
  </ul>
		</div>
	</div>
</nav>

<div class="modal hide" id="joinNow" tabindex="-1" role="dialog" aria-labelledby="joinNowLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="joinNowLabel">Dealbook</h3>
    <p>Get the latest updates on Brazilian tech startups!</p>
  </div>
  <div class="modal-body">
    <p><%= link_to "Sign Up with Email", new_user_registration_path, :id => 'signup_link' %></p>
    <p><%= link_to "Sign Up with Linkedin", user_omniauth_authorize_path(:linkedin), :id => 'signup_link' %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>