<div class="navbar">
  <div class="navbar-inner">
    <div class="container navbar-title">

      <%= link_to "Dealbook", root_path, :class => 'brand' %>

      <ul class="nav pull-left">
        <li><%= link_to 'Deals', deals_path %></li>
        <li><%= link_to 'Companies', companies_path %></li>
        <li><%= link_to 'Investors', investors_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to('Markets', markets_path) if can? :manage, Market %></li>
          <li><%= link_to('Locations', locations_path) if can? :manage, Location %></li>
        <% end %>
      </ul>

      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li class="dropdown" id="menu7">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.full_name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if can? :manage, User %>
                <li><%= link_to('Manage users', users_path) %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to 'Edit my account', edit_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
          <li><%= link_to('Sign up', new_user_registration_path)  %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
