<!DOCTYPE html>
<html>
<head>
  <title>Dealbook</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:head) %>
</head>

<body>

  <%= render 'layouts/navigation' %>

  <div class="container main">

    <%= render 'layouts/messages' %>
    <%= yield %>

  </div>
</body>
</html>
