<!DOCTYPE html>
<html>
<head>
  <title>Dealbook</title>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="eFzHwHZxstX437NOGUjFZApqyPs1jtkmTw888H6FWOQ" />
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:head) %>
  <%= render 'shared/mixpanel' %>
  <%= render 'shared/ga' %>
</head>

<body class="<%= params[:controller].parameterize %>">

  <%= render 'layouts/navigation' %>

  <div class="container main">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

  <div class="footer">
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>

