<!DOCTYPE html>
<html>
<head>
  <title>Dealbook</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:head) %>
</head>

<body>
  <div class="container">

    <%= render 'layouts/navigation' %>

    <div class="row">
      <div class="span8 offset2">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
